body {
   background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 #mainbox {
    width:1100px;
    height: 700px;
}
#mainbox #firstrow {
    width:1000px;
    height:250px;  
  margin-left: 155px;
    margin-right: 155px;
}
#mainbox #firstrow .Jah {
    width:165px;
    height:200px;
    float: left;
    border: solid 3px #000;
     border-radius: 15px 50px;
    margin-left:10px;;
    margin-top: 520px;
    margin-bottom: 25px;
}
#mainbox #firstrow .Jah img{
    width:165px;
    height:200px;
    border-radius: 15px 50px;
}
#mainbox #firstrow .Ken {
    width:165px;
    height:200px;
    float:left;
    border: solid 3px #000;
    border-radius: 15px 50px;
    margin-left:30px;
   margin-top: 520px;

}
#mainbox #firstrow .Ken img{
    width:165px;
    height:200px;
    border-radius: 15px 50px;
}
#mainbox #firstrow .Pablo{
    width:165px;
    height:200px;
    float:left;
    border: solid 3px #000;
    border-radius: 15px 50px;
    margin-left:30px;
     margin-top: 520px;
}
#mainbox #firstrow .Pablo img{
    width:165px;
    height:200px;
    border-radius: 15px 50px;
}
#mainbox #firstrow .Stell {
    width:165px;
    height:200px;
    float:left;
    border: solid 3px #000;
    border-radius: 15px 50px;
    margin-left: 30px;
     margin-top: 520px;
}
#mainbox #firstrow .Stell img{
    width:165px;
    height:200px;
    border-radius: 15px 50px;
} 
#mainbox .Josh {
    width:165px;
    height:200px;
    float:left;
    border: solid 3px #000;
    border-radius: 15px 50px;
    margin-left:30px;
    margin-top: 520px;
}
#mainbox #firstrow .Josh img{
    width:165px;
    height:200px;
    border-radius: 15px 50px;

}
